# Project docs (keep local only)
prd.md

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env
.env.*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Alembic
alembic/versions/__pycache__/

# Docker
*.log

# macOS
.DS_Store



# levels
levels.yaml